{% extends 'main.html' %}

{% block content %}

<div>

    <div>
        <button style="padding: 10px; background-color: springgreen; border-radius: 5px; border-style: none;"><a
                href="{% url 'intactChat' %}"
                style="text-decoration: none; font-size: 15px; font-weight: 700; color: white;">Go Back</a></button>
    </div>

    <div style="border: 2px solid springgreen; padding: 10px; border-radius: 5px; margin-top: 5%;">

        <h2 style="color: white;">{{ chat_query.user_chat_prompt }}</h2>
        <p style="color: white;">{{ chat_query.model_response }}</p>
    </div>
</div>







{% endblock %}