<style>
    .buttons {
        display: flex;
        justify-content: space-between;

    }
</style>


{% extends 'main.html' %}

{% block content %}

<div style="border: 2px solid springgreen; justify-self: center; padding: 40px; margin-top: 5%; border-radius: 5px;">
    <form action="" method="POST">
        {% csrf_token %}

        <p style="color: white; font-size: 25px;">Are you want to delete {{ obj }}?</p>
        <div class="buttons">
            <button style="padding: 10px; background-color: springgreen; border-radius: 5px; border-style: none;"><a
                    href="{{ request.META.HTTP_REFERER }}" style="text-decoration: none;
            color: white; font-size: 15px; font-weight: 700;">Go Back</a></button>
            <input type="submit" value="Confrim"
                style="color: white; font-size: 15px; font-weight: 700; background-color: springgreen; border-radius: 5px; border-style: none; cursor: pointer;">
        </div>
    </form>
</div>




{% endblock %}