<style>
    #delete_qube_video_form {
        border: 2px solid springgreen;
        border-radius: 10px;
        justify-self: center;
        padding: 40px;
        margin-top: 5%;




    }
</style>


{% extends 'main.html' %}

{% block content %}

<div id="delete_qube_video_form">
    <form method="POST">
        {% csrf_token %}

        <h2 style="color: white;">Are you sure to delete this : {{ obj }}?</h2>
        <div style="display: flex; justify-content: space-between;">
            <button style="padding: 10px; border-radius: 5px; border-style: none; background-color: springgreen;"><a
                    href="{% url 'qubeVisionVideoQuery' %}"
                    style="text-decoration: none; color: white; font-size: 15px; font-weight: 700;">Go Back</a></button>
            <button
                style="border-radius: 5px; font-size: 15px; font-weight: 700; color: white; background-color: springgreen; border-style: none;cursor: pointer;">Delete</button>
        </div>
    </form>
</div>



{% endblock %}