<style>
    #go_back_btn_code_model {
        border: 2px solid springgreen;
        text-decoration: none;
        color: white;
        font-weight: 700;
        background-color: springgreen;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
        padding: 10px;

    }
</style>


{% extends 'main.html' %}

{% block content %}


<div>

    <div style="border: 2px solid springgreen; padding: 20px;display: flex; justify-self: center; margin-top: 5%;">
        <form action="" method="POST">
            {% csrf_token %}

            <p style="color: white; font-size: 20px;  ">Are you want to delete : {{ obj }}?</p>
            <div style="display: flex; justify-content: space-between;">
                <a href="{% url 'qubeCodeModel' %}" id="go_back_btn_code_model">Go Back</a>
                <input type="submit" value="Confrim"
                    style="color: white; font-weight: 700; background-color: springgreen; border-radius: 5px; border-style: none; cursor: pointer;">
            </div>
        </form>
    </div>
</div>



{% endblock %}