<style>
    .img-full-response {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid springgreen;
        padding: 20px;
        margin-top: 5%;
        border-radius: 10px;
    }
</style>


{% extends 'main.html' %}

{% block content %}


<button style="padding: 10px; background-color: springgreen; border-radius: 5px; border-style: none;"><a
        href="{% url 'imgModel' %}" style="text-decoration: none; color: white; font-size: 15px; font-weight: 700; ">Go
        Back</a></button>


<div class="img-full-response">

    <div>
        <h3 style="color: white;">{{ imgQuery.user }}</h3>
        <p style="color: white;">{{ imgQuery.user_text_prompt }}</p>
        <img src="{{ imgQuery.user_image_prompt.url }}" alt=""
            style="width: 640px; height: 480px; border-radius: 10px;">
    </div>

    <div>
        <p style="color: white;">{{ imgQuery.response }}</p>
        <p style="color: white;">{{ imgQuery.created }}</p>
    </div>


</div>



{% endblock %}