<style>
    .img_model {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    #qube_image_model_heading {
        color: white;
        border: 2px solid springgreen;
        padding-left: 25%;
        border-radius: 5px;

    }

    #qube_img_query_input {
        width: 40%;
        height: 3%;
    }

    #send_button {
        padding: 5px;
        width: 10%;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
    }

    #send_button:hover {
        background-color: springgreen;
        color: white;


    }

    /* for the qube image feed */
    #qube_img_feed_heading {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        padding-left: 25%;
        margin-left: 10px;
        border-radius: 5px;
    }

    #chat_user_text_prompt {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        text-decoration: none;
        border-radius: 5px;

    }

    #delete_button {
        text-decoration: none;
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;


    }

    #flexing_img_model {
        display: flex;
        justify-content: space-between;
    }
</style>


{% extends 'main.html' %}

{% block content %}

<div class="img_model">
    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>

    <div>
        <div>
            <h1 id="qube_image_model_heading">QUBE IMAGE MODEL</h1>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <form action="{% url 'imgModel' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" accept="image/*" name="img_query">
            <input type="text" name="text_query" value="{{ text_query }}" id="qube_img_query_input">
            <button id="send_button">Send</button>
        </form>
        <br>
        <br>
        <hr>
        <div>
            {% for line in gemini_img_text_response %}
            <div>
                <p>{{ line|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2 id="qube_img_feed_heading">QUBE IMG FEED</h2>
        <div>
            {% for chat in user_img_text_chats %}
            <div>
                <div id="flexing_img_model">
                    <h3><a href="{% url 'imageFullResponseView' chat.id  %}" id="chat_user_text_prompt">
                            {{ chat.user_text_prompt }}</a></h3>
                    <span><a href="{% url 'deleteImageQuery' chat.id %}" id="delete_button">Delete</a></span>
                </div>
                <img src="{{ chat.user_image_prompt.url }}" alt="uploaded image"
                    style="width: 400px; height: 200px; border-radius: 10px;">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}