{% extends 'main.html' %}

{% block content %}

<div>
    {% if page == 'loginUser' %}
    <div class="user_login_form">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="login_requisit">
                <div>
                    <label for="" id="user_username">USERNAME:</label>
                    <input type="text" placeholder="" name="username" id="user_username_place">
                </div>
                <div>
                    <label for="" id="user_password">PASSWORD:</label>
                    <input type="password" placeholder="" name="password" id="user_password_place">
                </div>
                <div>
                    <input type="submit" value="Login" id="user_registration_submit">
                </div>
            </div>

        </form>
        <div class="signup">
            <p id="user_not_signed_up_yet">Haven't signed up yet?</p>
            <a href="{% url 'registerUser' %}" id="sign_up_link">Sign Up</a>
        </div>
    </div>

    {% else %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already signed up ?</p>
        <a href="{% url 'loginUser' %}">Login</a>
    </div>
    {% endif %}

</div>


{% endblock %}