{% extends 'main.html' %}

{% block content %}

<div>
    {% if page == 'loginUser' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="" id="user_username">Username:</label>
            <input type="text" placeholder="..." name="username" id="user_username_place">
            <label for="" id="user_password">Password:</label>
            <input type="password" placeholder="..." name="password" id="user_password_place">
            <input type="submit" value="Login" id="user_registration_submit">

        </form>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'registerUser' %}">Sign Up</a>
    </div>

    {% else %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already signed up ?</p>
        <a href="{% url 'loginUser' %}">Login</a>
    </div>
    {% endif %}

</div>


{% endblock %}