<div>


    <div>

        <div id="qube_ai_model_link">
            <h2><a href="{% url 'qubeAI' %}">QUBE AI</a></h2>
        </div>
        <div id="qube_text_model_link">
            <h3><a href="{% url 'textModel' %}">QUBE TEXT</a></h3>
        </div>
        <div id="qube_img_text_model_link">
            <h3><a href="{% url 'imgModel' %}">QUBE IMG-TEXT</a></h3>
        </div>
        <div id="qube_chat_model_link">
            <h3><a href="{% url 'intactChat' %}">QUBE CHAT </a></h3>
        </div>
        <div id="qube_vision_img_model_link">
            <h3><a href="{% url 'qubeVisionImage' %}">QUBE VISION IMG</a></h3>
        </div>
        <div id="qube_vision_video_model_link">
            <h3><a href="{% url 'qubeVisionVideoQuery' %}">QUBE VISION VIDEO</a></h3>
        </div>
        <div id="qube_audio_model_link">
            <h3><a href="{% url 'qubeAudioQuery' %}">QUBE AUDIO</a></h3>
        </div>
        <div id="qube_code_model_link">
            <h3><a href="{% url 'qubeCodeModel' %}">QUBE CODE</a></h3>
        </div>
        <div id="qube_img_generation_model_link">
            <h3><a href="{% url 'qubeImgGenerate' %}">QUBE IMG GEN(dev)</a></h3>
        </div>
        <div id="qube_predict_model_link">
            <h3><a href="{% url 'qubePredict' %}">QUBE PREDICT</a></h3>
        </div>

    </div>

</div>