<style>
    .qube-img-generation {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }
</style>


{% extends 'main.html' %}

{% block content %}

<div class="qube-img-generation">
    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>

    <div>
        <h1>QUBE IMG GENERATION</h1>
        <br>
        <hr>
        <br>
        <form action="" method="GET">
            {% csrf_token %}

            <label for="">Prompt QUBE :</label>
            <input type="text" name="image_prompt">
            <input type="submit" value="Confrim">
        </form>
        <br>
        <hr>
        <div>
            <h1>QUBE IMAGE</h1>
            <div>
                {% for item in qube_img_generation %}
                {% if item.type == 'image' %}
                <img src="{{ item.data }}" alt="Generated Image">
                {% else %}
                <p>{{ item.data }}</p>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <div>
        <h1> QUBE IMG FEED</h1>
        <hr>
    </div>
</div>


{% endblock %}