<style>
    .qube_vision_activity {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    #img_text_user_input {
        height: 35px;
        width: 40%;
        font-size: 20px;

    }

    #qube_vision_img_user_query {
        color: springgreen;
        text-decoration: none;
        transition: all 0.3s ease;
        border-radius: 5px;

    }

    #qube_vision_img_user_query:hover {
        border: 2px solid springgreen;
        padding: 5px;
        transform: scale(0.5);
    }


    #del_btn {
        color: white;
        text-decoration: none;
        border: 2px solid springgreen;
        padding: 3px;
        border-radius: 5px;
        background-color: springgreen;
        font-weight: 700;



    }
</style>


{% extends 'main.html' %}

{% block content %}

<div class="qube_vision_activity">
    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>

    <div>
        <div>
            <h1 style="color: white; border: 2px solid springgreen; border-radius: 5px; padding-left: 20%;">QUBE VISION
                IMAGE MODEL</h1>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <form action="{% url 'qubeVisionImage' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <input type="file" accept="image/*" name="imageQuery" multiple>
            <input type="text" name="textQuery" id="img_text_user_input">
            <button
                style="margin-left: 10%; padding: 10px; width: 10%; border-radius: 5px; font-size: 15px; font-weight: 700; color: white; background-color: springgreen; border-style: none; cursor: pointer;">Send</button>
        </form>
        <br>
        <br>
        <hr>
        <div>
            {% for line in vision_img_text_response %}
            <div style="color: white;">
                <p>{{ line|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h1
            style="color: white; border: 2px solid springgreen; margin-left: 10px; padding-left: 13%; border-radius: 5px;">
            QUBE VISION FEED
        </h1>
        <hr>
        <div>
            {% for chat in qube_vision_img_text %}
            <div>
                <div class="for_fixing_flex">
                    <h3><a href="{% url 'fullResponseQubeVision' chat.id %}" id="qube_vision_img_user_query">
                            {{ chat.user_text_query }}</a></h3>
                    <a href="{% url 'deleteQubeVisionImage' chat.id %}" id="del_btn">Delete</a>
                </div>
                <br>
                <img src="{{ chat.user_img_query.url }}" alt="uploaded images"
                    style="width: 400px; height: 200px; border-radius: 10px;">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}