<style>
    .model-ai {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    .ai_model_text {
        color: white;
    }
</style>

{% extends 'main.html' %}

{% block content %}


<div class="model-ai">
    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>
    <div class="ai_model_text">
        <h3>Qube AI is a cutting-edge platform that harnesses the power of artificial intelligence to offer a wide range
            of capabilities. From automating routine tasks to providing insightful data analysis and enhancing user
            interactions, Qube AI is designed to streamline operations and boost productivity. Whether you're looking to
            implement smart chatbots, optimize business processes, or gain deeper insights from your data, Qube AI
            delivers versatile and robust solutions tailored to your needs. Embrace the future with Qube AI and
            transform the way you work!</h3>
    </div>
</div>




{% endblock %}