<style>
    .qube-audio-component {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    #qube_audio_query_user_input {
        height: 35px;
        width: 45%;
        font-size: 20px;


    }

    #send_btn_audio_user {
        margin-left: 6%;
        width: 10%;
        padding: 8px;
        font-size: 15px;
        font-weight: 700;
        color: white;
        background-color: springgreen;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;


    }

    #qube_audio_user_query {
        color: springgreen;
        text-decoration: none;
        transition: all 0.3s ease;

    }

    #qube_audio_user_query:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }
</style>


{% extends 'main.html' %}

{% block content %}



<div class="qube-audio-component">
    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>

    <div>
        <div>
            <h1
                style="color: white; border: 2px solid springgreen; padding: 5px; border-radius: 5px; padding-left: 28%;">
                QUBE AUDIO MODEL</h1>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" accept="audio/*" name="audio_query">
            <input type="text" name="text_query" id="qube_audio_query_user_input">
            <button id="send_btn_audio_user">Send</button>
        </form>
        <br>
        <hr>
        <div style="color: white;">
            {% for line in qube_audio_query %}
            <div>
                <p style="color: white;">{{ line|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2
            style="color: white; border: 2px solid springgreen; padding: 5px; border-radius: 5px; margin-left: 10px; padding-left: 20%;">
            QUBE AUDIO FEED</h2>
        <div>
            {% for chat in qube_audio_feed %}
            <div>
                <ul>
                    <li>
                        <h3><a href="{% url 'qubeAudioFullResponse'  chat.id %}" id="qube_audio_user_query">
                                {{ chat.user_text }}</a></h3>
                        <a href="{% url 'deleteAudioQuery' chat.id %}"
                            style="border: 2px solid springgreen; padding: 8px; text-decoration: none; color: white; font-size: 15px; font-weight: 700; border-radius: 5px; border-style: none; background-color: springgreen; cursor: pointer;">Delete</a>
                        <br>
                        <br>
                        <audio src="{{ chat.user_audio.url }}" controls></audio>

                        <hr>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}