<!-- Text Model of Gemini  -->
<style>
    .text_model {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    .qube_text_model_heading h1 {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        padding-left: 30%;

    }

    /* from the message qube */
    #message_qube {
        color: springgreen;
        font-size: 20px;
        font-weight: 700;

    }

    #qube_message_input {
        width: 48%;
        height: 25px;
        border: 2px solid springgreen;
        border-radius: 5px;
        border-style: none;
        outline: none;
        margin-left: 5%;
    }

    #send_button {
        width: 10%;
        height: 30px;
        margin-left: 15%;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
    }

    #send_button:hover {
        color: white;
        background-color: springgreen;

    }

    #qube_text_feed_heading {
        margin-left: 5%;
        border: 2px solid springgreen;
        padding-left: 13%;
        border-radius: 5px;
        color: white;
    }

    .qube_text_history {
        color: springgreen;
    }

    .qube_text_history h3 a {
        color: springgreen;
        text-decoration: none;
    }

    #delete_text_message {
        color: white;
        text-decoration: none;
        border: 2px solid springgreen;
        padding: 2px;
        border-radius: 5px;

    }
</style>

{% extends 'main.html' %}

{% block content %}

<div class="text_model">

    <div class="model-component">
        {% include 'base/Models_component_ai.html' %}
    </div>


    <div class="qube-text-model">
        <div class="qube_text_model_heading">
            <h1>QUBE TEXT MODEL</h1>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <form action="{% url 'textModel' %}" method="GET">
            <label for="" id="message_qube">Message QUBE</label>
            <input type="text" name="query" value="{{ query }}" id="qube_message_input">
            <button id="send_button">Send</button>
        </form>
        <br>
        <br>
        <hr>
        <div>
            <div class="formatted_content">
                {% for line in results %}
                <div>
                    <div class="formatted-line">{{ line|safe }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="text-history">
        <!-- for text history -->
        <h1 id="qube_text_feed_heading">QUBE TEXT FEED</h1>
        <ul>
            {% for chat in text_history %}
            <div class="qube_text_history">
                <li>
                    <h3><a href="{% url 'textFullResponseView' chat.id %}">{{ chat.query }}</a></h3>
                    <a href="{% url 'deleteTextModelHistory' chat.id %}" id="delete_text_message">Delete</a>
                    <hr>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}