<style>
    .interactive-chat-model {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* for qube ai model */
    #qube_ai_model_link h2 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_ai_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);

    }

    /* for qube text model */

    #qube_text_model_link h3 a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_text_model_link h3 a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img to text model */

    #qube_img_text_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_text_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* for qube chat model */

    #qube_chat_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_chat_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* for qube img model */

    #qube_vision_img_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_img_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube video model  */

    #qube_vision_video_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_vision_video_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }


    /* qube audio model */

    #qube_audio_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_audio_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube code model */

    #qube_code_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_code_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube img generation model */
    #qube_img_generation_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_img_generation_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    /* qube predict model */

    #qube_predict_model_link a {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;
    }

    #qube_predict_model_link a:hover {
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        transform: scale(0.5);
    }

    #user_chat_prompt_input {
        margin-left: 20%;
        width: 50%;
        height: 8%;
        font-size: 20px;
    }

    #user_chat_prompt_text_chat {
        color: springgreen;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.3s ease;


    }

    #user_chat_prompt_text_chat:hover {
        border: 2px solid springgreen;
        padding: 5px;
        transform: scale(0.5);
    }

    #text_chat_delete_btn {
        color: white;
        text-decoration: none;
        border: 2px solid springgreen;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        background-color: springgreen;
        border-radius: 5px;


    }
</style>

{% extends 'main.html' %}

{% block content %}


<div class="interactive-chat-model">


    <div>
        {% include 'base/Models_component_ai.html' %}
    </div>

    <div>
        <div>
            <h1 style="color: white; border: 2px solid springgreen; padding-left: 28%; border-radius: 5px;">QUBE CHAT
                MODEL</h1>
        </div>
        <br>
        <hr>
        <br>
        <form action="{% url 'intactChat' %}" method="GET">
            <label style="color:springgreen; font-size: 25px; font-weight: 700;" for="">USER</label>
            <input type="text" name="user_chat_prompt" value="{{ user_chat_prompt}}" id="user_chat_prompt_input">
        </form>
        <br>
        <hr>
        <div>
            <div class="formatted_content">
                <p style="color:springgreen; font-size: 25px; font-weight: 700;">QUBE:</p>
                {% for line in chat_results %}
                <div>
                    <div class="formatted-line" style="color: white;">
                        <p>{{ line|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <h1
            style="color: white; border: 2px solid springgreen; padding: 5px; margin-left: 10px;padding-left: 30px; border-radius: 5px;">
            CHAT INTERAC FEED</h1>
        {% for chat in user_interac_chat %}
        <div>
            <h3><a href="{% url 'chatFullResponseView' chat.id %}" id="user_chat_prompt_text_chat">
                    {{ chat.user_chat_prompt }}</a>
            </h3>
            <a href="{% url 'deleteChat' chat.id %}" id="text_chat_delete_btn">Delete</a>
            <hr>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}