<style>
    .community-home {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    }
</style>

{% extends 'main.html' %}

{% block content %}

<div class="community-home">
    <div>
        {% include 'social/Models_component_social.html' %}
    </div>

    <div>
        <h2>Browse Topics</h2>
        <hr>
    </div>

    <div>
        <h1>QUBE COMMUNITY</h1>
        <hr>
        {% for room in rooms %}
        <div>
            <h3>{{ room.name }}</h3>
        </div>
        {% endfor %}
    </div>

    <div>
        <h2>Activity Feed</h2>
        <hr>
    </div>

</div>



{% endblock %}