<style>
    #room_host_username {
        text-decoration: none;
        color: springgreen;
        font-weight: 700;


    }

    #room_host_username:hover {

        color: white;

    }


    #room_name_open_link {
        text-decoration: none;
        color: white;
        transition: all 0.3s ease;

    }

    #room_name_open_link:hover {
        color: springgreen;
        transform: scale(0.5);
    }

    #room_topic_name_p {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        background-color: springgreen;
        border-radius: 3px;
        width: 15%;

    }

    #edit_btn_feed_component {
        text-decoration: none;
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 3px;
        font-weight: 700;
        background-color: springgreen;

    }

    #delete_btn_feed_component {
        text-decoration: none;
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 3px;
        font-weight: 700;
        background-color: springgreen;
    }
</style>



<div>
    {% for room in rooms %}

    <div style="margin-left: 8px;">
        <p><a href="{% url 'communityUserProfile' room.host.id  %}" id="room_host_username">
                @{{ room.host.username }}</a></p>
        <h2><a href="{% url 'communityRoom' room.id %}" id="room_name_open_link">{{ room.name }}</a></h2>
        <p id="room_topic_name_p">{{ room.topic.name }}</p>
        {% if request.user == room.host %}
        <a href="{% url 'updateCommunityRoom' room.id %}" id="edit_btn_feed_component">Edit community Room</a>
        <a href="{% url 'deleteCommunityRoom' room.id %}" id="delete_btn_feed_component">Delete</a>
        {% endif %}
        <hr style="color: springgreen;">
    </div>

    {% endfor %}
</div>