<style>
    .community-home {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    }
</style>

{% extends 'main.html' %}

{% block content %}

<div class="community-home">
    <div>
        {% include 'social/Models_component_social.html' %}
    </div>

    <div>
        <h2>BROWSE TOPICS</h2>
        <hr>
    </div>

    <div>
        <h1>QUBE COMMUNITY</h1>
        <hr>
        {% for room in rooms %}
        <div>
            <ul>
                <li>
                    <span>@{{ room.host.username }} {{ room.created|timesince }} ago</span>
                    <h2><a href="{% url 'communityRoom' room.id %}">{{ room.name }}</a></h2>
                    <p>{{ room.topic.name }}</p>
                    <hr>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>

    <div>
        <h2>ACTIVITY FEED</h2>
        <hr>
    </div>

</div>



{% endblock %}