<style>
    .profile-component {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


{% extends 'main.html' %}

{% block content %}

<div>

    <div style="justify-self:center;">
        <h2 style="color: white; border: 2px solid springgreen; padding: 5px; border-radius: 3px;">{{ user.username }}
        </h2>
        <div>

        </div>

    </div>

    <div class="profile-component">
        <div>
            {% include 'social/community_topic_component.html' %}
        </div>

        <div>
            <div>
                {% include 'social/community_feed_component.html' %}
            </div>
        </div>
        <div>
            {% include 'social/community_activity_component.html' %}
        </div>
    </div>

</div>

{% endblock %}