<style>
    #activity_message_user_profile {
        text-decoration: none;
        color: springgreen;
        font-weight: 700;
        transition: all 0.3s ease;
    }

    #activity_message_user_profile:hover {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 3px;
        transform: scale(0.5);

    }

    #activity_feed_heading {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
        padding-left: 15%;
    }
</style>

<div>
    <h2 id="activity_feed_heading">ACTIVITY FEED</h2>

    {% for message in room_messages %}
    <div style="margin-left: 10px;">
        <small style="color: white;"><a href="{% url 'communityUserProfile' message.user.id %}"
                id="activity_message_user_profile">
                @{{ message.user }}</a>
            {{ message.created|timesince }} ago</small>
        <small style="color: white;">replied to <i><strong>"{{ message.room }}"</strong></i></small>
        <p style="color: springgreen;">{{ message.body }}</p>
        {% if message.user_visual_query %}
        <div>
            {% with filename=message.user_visual_query.name %}
            {% if ".jpg" in filename|lower or ".jpeg" in filename|lower or ".png" in filename|lower %}
            <div>
                <img src="{{ message.user_visual_query.url }}" alt="uploaded_images"
                    style="width: 230px; height: 140px; border-radius: 5px;">
            </div>
            {% elif ".mp4" in filename|lower or ".webm" in filename|lower %}
            <div>
                <video controls style="width: 230px; height: 140px; border-radius: 5px;">
                    <source src="{{ message.user_visual_query.url }}" type="video/mp4">
                </video>
            </div>
            {% elif ".mp3" in filename|lower or ".wav" in filename|lower %}
            <div>
                <audio controls>
                    <source src="{{ message.user_visual_query.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            {% else %}
            <div>
                <a href="{{ message.user_visual_query.url }}" download>Download
                    File</a>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        {% endif %}
        <hr>
    </div>
    {% endfor %}
</div>