<style>
    .community-room {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    }
</style>

{% extends 'main.html' %}

{% block content %}


<div class="community-room">

    <div>
        {% include 'social/Models_component_social.html' %}
    </div>

    <div>
        <h2>BROWSE TOPICS</h2>
        <hr>
    </div>


    <div>
        <h1>COMMUNITY ROOM</h1>
        <hr>
        <h1>{{ room }}</h1>
        <hr>
        <div>
            <h2>Conversations</h2>
            <hr>
            <div>
                {% for message in room_messages %}
                <div>

                    {% if request.user == message.user %}
                    <p><a href="{% url 'deleteCommunityMessage' message.id %}">Delete</a></p>
                    {% endif %}
                    <p>@{{ message.user }} {{ message.created|timesince }}</p>
                    <p>{{ message.body }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>


            {% if request.user.is_authenticated %}
            <div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="text" placeholder="Message Community..." name="user_text_query">
                    <input type="file" name="user_visual_query" accept="image/*,video/*,audio/*" multiple>
                    <input type="submit" value="Confrim">
                </form>
            </div>
            {% endif %}
        </div>

    </div>




    <div>
        <h2>PARTICIPANTS</h2>
        <hr>
        {% for user in participants %}
        <div>
            <p>@{{ user.username }}</p>
        </div>
        {% endfor %}
    </div>



</div>




{% endblock %}