<style>
    #room_host_username {
        text-decoration: none;
        color: springgreen;
        font-weight: 700;
        transition: text-decoration 0.1s ease-in-out;
    }

    #room_host_username:hover {
        text-decoration: underline;
        color: white;
    }


    #room_name_open_link {
        text-decoration: none;
        color: white;

    }

    #room_topic_name_p {
        color: white;
        border: 2px solid springgreen;
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        background-color: springgreen;
        border-radius: 3px;
        width: 15%;

    }
</style>



<div>
    {% for room in rooms %}

    <div>
        <p><a href="{% url 'communityUserProfile' room.host.id  %}" id="room_host_username">
                @{{ room.host.username }}</a></p>
        <h2><a href="{% url 'communityRoom' room.id %}" id="room_name_open_link">{{ room.name }}</a></h2>
        <p id="room_topic_name_p">{{ room.topic.name }}</p>
        {% if request.user == room.host %}
        <a href="{% url 'updateCommunityRoom' room.id %}">Edit community Room</a>
        <a href="{% url 'deleteCommunityRoom' room.id %}">| Delete</a>
        {% endif %}
        <hr>
    </div>

    {% endfor %}
</div>