<style>
    .delete-community-room {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


{% extends 'main.html' %}

{% block content %}

<div class="delete-community-room">

    <div>
        {% include 'social/Models_component_social.html' %}
    </div>

    <div>
        <h1>Delete Community Room</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}

            <h3>Are you want to delete this {{ obj }}?</h3>
            <input type="submit" value="Confrim">
            <button><a href="{{ request.META.HTTP_REFERER }}">Go Back</a></button>
        </form>
    </div>
</div>



{% endblock %}