<style>
    .qube-social-component {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
    }
</style>



{% extends 'main.html' %}

{% block content %}

<div class="qube-social-component">

    <div>
        {% include 'social/Models_component_social.html' %}
    </div>

    <div>
        {% include 'social/qube_community_topic_component.html' %}
    </div>

    <div>
        <h1>QUBE COMMUNITY</h1>
        <a href="{% url 'createCommunityRoom' %}">Create Room</a>
        <span><strong>{{ total_community_rooms }} rooms available</strong></span>
        <hr>

        <div>
            {% include 'social/qube_community_feed_component.html' %}
        </div>

    </div>

    <div>
        <h2>ACTIVE FEED</h2>
        <hr>
        {% include 'social/qube_community_activity_component.html' %}
    </div>


</div>



{% endblock %}